.sampletableholder {
	background-color: #fff;
}

.sampletable, .postsampletable {
	width: 92%;
	border-collapse: collapse;
	border: 1px solid #ddd;
	margin: 4px 1px;
}

.sampletable img {
	display: block;
}

.sampletable td, .postsampletable td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: small;
	padding: 2px;
	border: 1px solid #ddd;
	background: #fff;
	color: #000;
}

.sampletable td > img {
	margin-left: auto;
	margin-right: auto;
}

.sampletable td[onclick] {
	text-decoration: underline;
	cursor: pointer;
}
	

.postsampletable td {
	text-align: center;
	vertical-align: middle;
	height: 30px;

	text-decoration: underline;
	cursor: pointer;
}