.headerrow {
 margin-bottom: 5px;
}

.titlelabel {
 font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size: 12pt;
 font-weight: bold;
}

.uploaderform {
 display: none;
}

#sfcontainer {
 left: 0;
 top: 0;
 width: 1px;
 height: 1px;
 max-width: 1px;
 max-height: 1px;
 overflow: hidden;
 padding-top: 1000px;
 padding-left: 1000px;
}

#submitframe {
}
