body {
 font-family: "Tahoma", "Arial", "Helvetica", sans-serif;
}

#vers {
 padding: 0;
 margin: 0;
 list-style-type: none;
}

#vers > li > div.rel:before {
 content: "Stable Version ";
}

#vers > li > div.dev:before {
 content: "Development Version ";
}

#vers > li > div {
 font-weight: bold;
 font-size: 110%;
 margin-bottom: 5px;
}

#vers > li > div.dev {
 color: #e00;
}

#vers > li > div.rel {
 color: #003366;
}

#vers > li {
 margin-bottom: 8px;
 font-size: 8.25pt;
}

#vers > li ul {
 padding-left: 15px;
 margin: 0;
 list-style-type: disc;
}
