/* Only skin the browser */
@-moz-document url("chrome://browser/content/browser.xul")
{
#salr-toolbarbutton
{
	list-style-image: url("chrome://salastread/skin/sa-24.png");
}

toolbar[iconsize="small"] #salr-toolbarbutton {
	list-style-image: url("chrome://salastread/skin/sa.png");
}

#salr-toolbarbutton[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #salr-toolbarbutton {
	list-style-image: url("chrome://salastread/skin/sa-32.png");
}

/* High-resolution displays */
@media (min-resolution: 2dppx) {
    #salr-toolbarbutton {
        list-style-image: url("chrome://salastread/skin/sa-32.png");
    }
    #salr-toolbarbutton[cui-areatype="menu-panel"],
    toolbarpaletteitem[place="palette"] > #salr-toolbarbutton {
        list-style-image: url("chrome://salastread/skin/sa-64.png");
    }
}

/* Fix for Australis customize menu arrow weirdness */
#salr-toolbarbutton[type="menu"]:not([cui-areatype="menu-panel"]) {
	-moz-box-orient: horizontal !important;
}

menupopup.lastread_menu
{
	-moz-appearance: none;
	color: #000000;
	background-color: #fff;
	background-image: url("chrome://salastread/skin/ps-sa-tag.jpg") !important;
	background-repeat: no-repeat;
}

menuitem.lastread_menu_frontpage {
	font-weight: bold;
}

menu.salastread_context_menu
{
	background-image: url("chrome://salastread/skin/sa.png");
	background-repeat: no-repeat;
	background-position: 1px 1px;
	background-attachment: scroll;
	font-weight: bold;
}

menuitem.lastread_menu_sub
{
	font-weight: bold;
}

menuitem.lastread_menu_sub\-sub
{
	padding-left: 15px;
}

menuitem.lastread_menu_sub\-sub\-sub
{
	padding-left: 30px;
}

.popup-notification-icon[popupid="salr-update-popup"] {
  list-style-image: url("chrome://salastread/skin/sa-64.png");
}

}
