* {
 font-family: "Tahoma", "Arial", "Helvetica", sans-serif;
}

/*
h1 {
 font-size: 12pt;
}

h2 {
 font-size: 9pt;
 border-top: 1px solid black;
 padding-top: 4px;
}

h2.dev {
 color: #e00;
}

h2.rel {
 color: #000;
}

h2.dev:before {
 content: "Development ";
}

h2.rel:before {
 content: "Stable ";
}

ul {
 margin: 0px 0px 0px 0px;
 padding-left: 15px;
}

li {
 font-size: 8.25pt;
 margin-bottom: 1px;
}
*/

ul#vers {
 padding: 0px;
 margin: 0px;
 list-style-type: none;
}

ul#vers > li > div.rel:before {
 content: "Stable Version ";
}

ul#vers > li > div.dev:before {
 content: "Development Version ";
}

ul#vers > li > div {
 font-weight: bold;
 font-size: 110%;
 margin-bottom: 5px;
}

ul#vers > li > div.dev {
 color: #e00;
}

ul#vers > li > div.rel {
 color: #003366;
}

ul#vers > li {
 margin-bottom: 8px;
 font-size: 8.25pt;
}

ul#vers > li ul {
 padding-left: 15px;
 margin: 0px;
 list-style-type: disc;
}
