.cbbox-hsb {
 -moz-box-sizing: content-box;
 background-color: red;
 width: 256px;
 height: 256px;
 max-width: 256px;
 max-height: 256px;
 border: 1px solid black;
 margin: 4px;
 overflow: hidden;
}

.cbbox-colorselection {
 left: 30px;
 top: 30px;
}

.cbbox-hue {
 -moz-box-sizing: content-box;
 background-image: url('chrome://salastread/content/huebar.png');
 width: 19px;
 height: 256px;
 border: 1px solid black;
 margin: 4px;
}

.cbbox-huesel {
 width: 19px;
 height: 1px;
}

.digentry {
 width: 3em;
}

.hexentry {
 width: 6em;
}
