body {
 font-family: "Verdana", "Arial", "Helvetica", sans-serif;
}

a {
 color: #036;
}

a:visited {
 color: #000;
}

a:active {
 color: #f60;
}

.mainlinks {
 font-family: "Verdana";
 font-size: 10pt;
 font-weight: bold;
 text-align: center;
 margin-bottom: 2px;
}

.minorlinks1,
.minorlinks2 {
 font-family: "Tahoma";
 font-size: x-small;
 font-weight: bold;
 text-align: center;
 padding: 2px;
}

.minorlinks1 a,
.minorlinks2 a {
 text-decoration: underline;
}

.minorlinks1 {
 background-color: #f1f1f1;
}

.minorlinks2 {
 margin-bottom: 10px;
}

.contentbox {
 border: 1px solid #c1c1c1;
 width: 95%;
 margin-left: auto;
 margin-right: auto;
}

.contenttitle {
 font-size: small;
 font-weight: bold;
 background-color: #069;
 color: #fff;
 padding: 3px;
 border-bottom: 1px solid #c1c1c1;
}

.contentdesc {
 font-size: small;
 background: #f1f1f1;
 padding: 5px;
}

.contenttable {
 width: 100%;
 border-collapse: collapse;
 /* border: 1px solid #c1c1c1; */
 border-bottom: 1px solid #c1c1c1;
}

.contenttable td {
 /* border: 1px solid #c1c1c1; */
 background: #f1f1f1;
}

.contentsubmit {
 background: #f1f1f1;
 padding: 9px;
 text-align: center;
}

input[type='text'] {
 font-family: "Lucida Console", "Courier New", monospace;
 font-size: small;
}

.labelcol {
 border-top: 1px solid #c1c1c1;
 font-size: small;
 padding: 5px;
}

.colorcol {
 /* background: white !important; */
 font-family: "Verdana", "Arial", "Helvetica", sans-serif;
 font-size: small;
 text-align: center;
 width: 100px;
 border: 1px solid black;
}

.inputcol {
 width: 175px;
 text-align: right;
 border-top: 1px solid #c1c1c1;
 border-right: 1px solid #c1c1c1;
}

.urlinputcol {
 width: 400px;
 text-align: right;
 border-top: 1px solid #c1c1c1;
 border-right: 1px solid #c1c1c1;
}

.toggles {
 font-family: "Verdana", "Arial", "Helvetica", sans-serif;
 font-size: small;
 border-top: 1px solid #c1c1c1;
 padding: 5px;
}

button {
 font-family: "Verdana", "Arial", "Helvetica", sans-serif;
 font-size: small;
}
