/* use this to undo the background image on the new posts div */
td.title div.salrIcons {
	background: transparent none no-repeat;
	height: auto;
	margin: 0;
	padding: 0;
	width: 53px;
	border: 0;
	cursor: auto;
}