@-moz-document domain(forums.somethingawful.com) {

 /* Ensure these correspond to the settings in salastreadOverlay.js:
      SALR_THUMBNAIL_MAX_WIDTH, SALR_THUMBNAIL_MAX_HEIGHT */
 div.mainbodytext img,
 img.SALR_need_thumbnailing {
    max-width: 250px;
    max-height: 250px;
 }

 img.SALR_thumbnail_fullsize {
    width: auto !important;
    height: auto !important;
    max-width: none !important;
    max-height: none !important;
 }

}
