body {
 background: #f7f7f7;
}

#logocell {
 padding: 0px;
 margin: 0px;
 width: 75px;
 height: 65px;
}

#logocell img {
 width: 75px;
 height: 65px;
}

#titlecell {
 font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size: 12pt;
 font-weight: bold;
 padding-left: 5px;
}

#maincell {
 font-family: Tahoma, Arial, Helvetica, sans-serif;
 font-size: 8.5pt;
 padding-top: 5px;
}

#uploadbutton {
 float: right;
}
