body {
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
 overflow: hidden;
 scroll: none;
}

h1, p {
 font-family: Tahoma, Arial, Helvetica, sans-serif;
}

h1 {
 font-size: 12pt;
 font-weight: bold;
 color: #069;
 padding-left: 5px;
 padding-right: 5px;
 margin-top: 5px;
 margin-bottom: 5px;
}

p {
 font-size: 9pt;
 color: #000;
 padding-left: 5px;
 padding-right: 5px;
}

#fStatus { font-weight: bold; }

a {
 font-weight: bold;
 text-decoration: underline;
}
